<!DOCTYPE html>  
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto PG</title>
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtítulo cualquiera</h2>

    <img src="/images/Ellie.jpg" alt="Ellie">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ipsa. Veniam reiciendis repudiandae sint non distinctio, perferendis incidunt quas ea dolorem. 
        Eos, minus nihil! Exercitationem qui quisquam dolore voluptatibus modi?
    </p>
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
    </ol>

    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
    </ul>
    <a href="https://www.google.com">Ir a Google</a>
</body>
</html>